.footer {
  max-width: 1440px;
}

.footer__container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}

.footer__description {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  margin: 0;
}

.footer__social-container {
  display: flex;
  gap: 10px;
}

.footer__social-icon {
  width: 30px;
  height: 30px;
  margin: 0;
}